.chat-app{
    box-sizing: border-box;
    max-width: 900px;
    min-width: 100px;
    height:100vh;
    margin: auto;
    background-image: url('../../assets/Body\ BG.png');
    background-size: contain;
}

.messages-window{
    max-width: 640px;
    margin: auto;
    height: calc(100vh - 56px);
    overflow-y: auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
  
    box-sizing: border-box;
}