.message-wrapper{
    width: 100%;
    display: inline-flex;
    border-radius: 2px;
}

.message{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 70%;
    background-color: #FFFFFF;
    border: 2px solid #C9CED1;
    border-radius: 4px;
    margin:0px 24px 16px 24px;
    padding: 16px;
    word-wrap: break-word;
    color: #C9CED1;
}

.message-date{
    margin-left:auto;
}

.message-text{
    margin: 7px 0px;
    color: #86898C;
}
.message-text-author{
    margin-top: 0px;
}

.author-message{
    background-color: #FCF6C3;
    margin-left: auto;
}